.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(26, 26, 26);
}

.game .game-choose-level {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 70%;
}

.game .game-choose-level .game-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5vw;
  width: 100%;
  height: 20%;
  color: rgb(211, 211, 211);
}

.game .game-choose-level .normal-level,
.game .game-choose-level .hard-level {
  display: flex;
  width: 75%;
  height: 20%;
  margin-top: 20px;
}

.game .game-choose-level .normal-level .normal-level-title,
.game .game-choose-level .hard-level .hard-level-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-size: 2vw;
  background-color: rgb(204, 204, 204);
  cursor: pointer;
}

.game .game-choose-level .normal-level .normal-level-title:hover,
.game .game-choose-level .hard-level .hard-level-title:hover {
  background-color: rgb(165, 165, 165);
}



.game .game-choose-level .normal-level .normal-level-description,
.game .game-choose-level .hard-level .hard-level-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  font-size: 1.7vw;
  color: white;
  border: 2px solid gray;
}





.game .option-normal,
.game .option-hard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 37vw;
  overflow: hidden;
}

.game .option-normal .num-flags,
.game .option-hard .num-flags {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 10%;
  font-size: 2.5vw;
  color: white;
}

.game .option-normal .section-flag,
.game .option-hard .section-flag {
  display: flex;
  width: 100%;
  height: 80%;
  /*margin-left: -1092px;*/
}

.game .option-normal .section-flag img,
.game .option-hard .section-flag img {
  width: 100%;
  height: 100%;
}

.game .option-normal .section-options,
.game .option-hard .section-options {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20%;
}

.game .option-normal .section-options div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 60%;
  font-size: 1.7vw;
  border: 2px solid rgb(255, 255, 255);
  color: white;
  background-color: rgb(26, 26, 26);
  cursor: pointer;
}

.game .option-hard .section-options div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  font-size: 1.7vw;
  border: 2px solid rgb(255, 255, 255);
  color: white;
  background-color: rgb(26, 26, 26);
  cursor: pointer;
}

/*.game .game-main .section-options div:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}*/




.game .end-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  display: none;
}

.game .end-game .end-game-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 40%;
  color: white;
  font-size: 4vw;
}

.game .end-game button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 3.5vw;
  font-size: 1.5vw;
  cursor: pointer;
}


@media (max-width: 480px) {

  .game .game-choose-level {
    width: 100%;
  }

  .game .game-choose-level .game-title {
    font-size: 10vw;
  }

  .game .game-choose-level .normal-level .normal-level-title,
  .game .game-choose-level .hard-level .hard-level-title {
    width: 30%;
    font-size: 3.5vw;
  }

  .game .game-choose-level .normal-level .normal-level-description,
  .game .game-choose-level .hard-level .hard-level-description {
    font-size: 3vw;
    color: white;
  }


  
  .game .option-normal,
  .game .option-hard {
    width: 80%;
    height: 80vw;
    overflow: hidden;
  }

  .game .option-normal .num-flags,
  .game .option-hard .num-flags {
    width: 50%;
    height: 10%;
    font-size:7vw;
  }

  .game .option-normal .section-options,
  .game .option-hard .section-options {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
  }

  .game .option-normal .section-options div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60%;
    font-size: 3vw;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    background-color: rgb(26, 26, 26);
    cursor: pointer;
  }

  .game .option-hard .section-options div {
    width: 100%;
    height: 80%;
    font-size: 5vw;
  }



  .game .end-game .end-game-text {
    font-size: 6vw;
  }
  
  .game .end-game button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 10vw;
    font-size: 4vw;
    margin-top: -10vh;
    cursor: pointer;
  }





}
