.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(26, 26, 26);
}

.game .game-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 37vw;
  overflow: hidden;
}

.game .game-main .num-flags {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 10%;
  font-size: 2.5vw;
  color: white;
}

.game .game-main .section-flag {
  display: flex;
  width: 100%;
  height: 80%;
  /*margin-left: -1092px;*/
}

.game .game-main .section-flag img {
  width: 100%;
  height: 100%;
}

.game .game-main .section-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
}

.game .game-main .section-options div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 60%;
  font-size: 1.7vw;
  border: 2px solid rgb(255, 255, 255);
  color: white;
  background-color: rgb(26, 26, 26);
  cursor: pointer;
}

/*.game .game-main .section-options div:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}*/

.game .end-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  display: none;
}

.game .end-game .end-game-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 40%;
  color: white;
  font-size: 4vw;
}

.game .end-game button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 3.5vw;
  font-size: 1.5vw;
  cursor: pointer;
}


@media (max-width: 480px) {
  .game .game-main {
    width: 80%;
    height: 80vw;
  }

  .game .game-main .num-flags {
    font-size: 8vw;
  }

  .game .game-main .section-options div {
    font-size: 3vw;
  }

  .game .end-game .end-game-text {
    font-size: 8vw;
  }

  .game .end-game button {
    width: 35vw;
    height: 8vw;
    font-size: 3vw;
  }
}
